<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brunotonia.piscicultura" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".view.UsuarioActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".view.UsuarioAdicionarActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".view.UsuarioListarActivity"
            android:label="@string/title_activity_usuario_listar" >
        </activity>
        <activity
            android:name=".view.FornecedorActivity"
            android:label="@string/title_activity_fornecedor" >
        </activity>
        <activity
            android:name=".view.FornecedorListarActivity"
            android:label="@string/title_activity_fornecedor_listar" >
        </activity>
        <activity
            android:name=".view.FornecedorAdicionarActivity"
            android:label="@string/title_activity_fornecedor_adicionar" >
        </activity>
        <activity
            android:name=".view.UsuarioAlterarSenhaActivity"
            android:label="@string/title_activity_usuario_alterar_senha" >
        </activity>
    </application>

</manifest>
